body {
    /*background: linear-gradient(var(--main-background-color), var(--second-background-color));*/
    /*cursor: not-allowed;*/
    background: var(--main-background-color);
    width: 100%;
    overflow-x: hidden;
}

span {
    font-size: 30px;
    cursor: pointer;
    color: var(--main-blue);
}

canvas {
    border: 1px solid red;
}

footer {
    width: 100%;
    border-top: 1px solid var(--main-blue);
}

.footer-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@keyframes open-side-menu-animation {
    from {
        height: 10px;
    }
    to {
        height: 500px;
    }
}

.header {
    width: 200%;
    border-bottom: 10px solid var(--main-blue);
    background-color: var(--main-background-color);
    transition: 500ms;
}

/*
.header:hover {
    height: 500px;
    animation-duration: 500ms;
    animation-name: open-side-menu-animation;
}
*/
.header-ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.header-ul li {
    margin-right: 10vw;
    transition: 500ms;
}

.side-menu-open {
    transform: rotate(180deg);
}

.option-item {
    width: 70%;
    align-self: center;
    background-color: var(--second-background-color);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.option-item a {
    color: white;
    text-decoration: none;
}

#full-site {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table[id="first-table"] {
    width: 90vw;
    height: 30vh;
    border-spacing: 10px;
}

td {
    border-radius: 5px;
}

.table-item {
    border: 5px solid var(--main-blue);
}

td div img {
    max-height: 100%;
    max-width: 100%;
}

td div:hover > .reveal-text {
    font-size: 50px;
    margin: 100px;
}

td div:hover > .reveal-image {
    max-height: 0;
}

.reveal-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    color: var(--main-blue);
}

.cube {
    /*position: relative;*/
    transform-style: preserve-3d;
    transition: 2s;
    width: 90vw;
    height: 90vh;
    border: 1px solid var(--main-blue);
}

.cube:hover {
    transform: rotateX(90deg);
    /*animation: loop-rotate 3s infinite;*/
}

@keyframes loop-rotate {
    0% {
        transform: rotateX(0);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0);
    }
}

.face-1, .face-2 {
    backface-visibility: hidden;
    border: 5px solid var(--main-blue);
    background-color: var(--main-background-color);
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.face-1 img, .face-2 img {
    width: 100%;
    height: 100%;
}

.face-2 * {
    text-align: center;
    color: rgba(158, 164, 168, 0.97);
    text-transform: uppercase;
}

.face-2 {
    transform: rotateX(-90deg) translateZ(-45vh);
    display: flex;
    align-items: center;
    justify-content: center;
}

.face-1 {
    transform: translateZ(45vh);
}

.face-2 h1 {
    background: linear-gradient(blue, blueviolet);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.face-2 h2 {
    color: #c1ea00;
}

.diplome {
    width: 70%;
    border: 1px solid var(--main-blue);
    margin-top: 30%;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diplome *{
    text-align: center;
    text-transform: uppercase;
}

article {
    margin-top: 30%;
    width: 100%;
    padding: 10px;
    border-top: 1px solid var(--main-blue);
}

.article-horizontal-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.article-horizontal-container a {
    width: 10%;
    margin: 10px;
    text-align: center;
    padding: 50px;
    border: 1px solid var(--main-blue);
    text-decoration: none;
    color: grey;
    transition: .5s;
}

.article-horizontal-container a:hover {
    filter: brightness(0.5);
}