<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles.css"/>
    <link rel="stylesheet" href="../../colors.css"/>
    <script>
        window.addEventListener("wheel", () => {
            //alert("Placer la souris sur la page de gauche pour revenir en arrière.");
        });
    </script>
</head>
<body class="site1-body">
    <h1 style="color: var(--main-blue);">Nos programmes</h1>

    <ul class="programs-container">
        <li class="program-item" style="background-image: url('../assets/Bachelor.webp')">
            <h2>Bachelor Informatique</h2>
            <ul>
                <li>
                    <p class="list-program-text">Formation en 3 ans</p>
                </li>
                <li>
                    <p class="list-program-text">Accessible Post Bac / Bac+1 / Bac+2</p>
                </li>
                <li>
                    <p class="list-program-text">Métiers dans le domaine informatique</p>
                </li>
                <li>
                    <p class="list-program-text">Spécialisation en 3ème année</p>
                </li>
                <li>
                    <p class="list-program-text">Titre RNCP de niveau 6 (Bac+3)</p>
                </li>
            </ul>
        </li>
        <li class="program-item" style="background-image: url('../assets/Ingenieur.webp')">
            <h2 style="color: var(--main-blue)">Le programme ingénieur</h2>
            <ul>
                <li>
                    <p class="list-program-text">Formation en 5 ans</p>
                </li>
                <li>
                    <p class="list-program-text">Accessible Post Bac /+1 /+2 /+3/+4</p>
                </li>
                <li>
                    <p class="list-program-text">Grade Master reconnu par la CTI</p>
                </li>
                <li>
                    <p class="list-program-text">12 Majeures au choix</p>
                </li>
                <li>
                    <p class="list-program-text">Alternance possible à partir de la 2e année</p>
                </li>
            </ul>
        </li>
        <li class="program-item" style="background-image: url('../assets/Prog3.webp')">
            <h2 style="color: var(--main-blue)">LES PROGRAMMES MSc</h2>
            <ul>
                <li>
                    <p class="list-program-text">Formation en 1 ou 2 ans</p>
                </li>
                <li>
                    <p class="list-program-text">Accessible Bac+3/+4</p>
                </li>
                <li>
                    <p class="list-program-text">6 Spécialisations au choix</p>
                </li>
                <li>
                    <p class="list-program-text">Conçu avec des entreprises partenaires</p>
                </li>
                <li>
                    <p class="list-program-text">3 Titres labellisés par la CGE</p>
                </li>
            </ul>
        </li>
    </ul>

    <br>
    <br>
    <h1 style="color: var(--main-blue)">Nos campus</h1>
    <ul class="campus-container">
        <li style="background-image: url('../assets/campus/Paris.webp')" class="campus-item">
            <h1>PARIS</h1>
        </li>
        <li style="background-image: url('../assets/campus/Lyon.webp')" class="campus-item">
            <h1>Lyon</h1>
        </li>
        <li style="background-image: url('../assets/campus/Bordeaux.webp')" class="campus-item">
            <h1>Bordeaux</h1>
        </li>
        <li style="background-image: url('../assets/campus/Rennes.webp')" class="campus-item">
            <h1>Rennes</h1>
        </li>
    </ul>
    <footer>
        <div class="footer-top">
            <p style="color: white; user-select: none">Thomas Rigault | 1A - Lycée privé Jeanne d'Arc - 91220 Brétigny sur Orge</p>
        </div>
        <div class="footer-bottom">
            <img src="../../../ItsShixyo/assets/img/logo.png" alt="logo"/>
            <h1 style="color: white; user-select: none; margin: 10px">Schoolfinder®</h1>
        </div>
    </footer>
</body>
</html>