body {
    display: flex;
    flex-direction: row;
    background-color: var(--main-background-color);
    height: 100vh;
    width: fit-content;
}

iframe {
    overflow: scroll;
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    border-top: 1px solid var(--main-blue);
}

.footer-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-logo {
    width: 25vw;
    margin-right: 40vw;
    margin-left: 37.5vw;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("assets/visuel_header_ece_Programme_Bachelor.webp");
    background-size: 100%;
    background-repeat: no-repeat;
}

.container * {
    color: red;
    text-transform: uppercase;
}

/* Iframe */
.site1-body {
    background-color: var(--main-background-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.programs-container {
    width: 90%;
    height: 30vh;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.program-item {
    border: 3px solid var(--main-blue);
    width: 25vw;
    height: 25vh;
    background-size: 150%;
    background-repeat: no-repeat;
    transition: .5s;
}

.program-item:hover {
    scale: 1.1;
}

.list-program-text {
    color: white;
}

.campus-container {
    width: 90%;
    height: 30vh;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.campus-item {
    border: 3px solid var(--main-blue);
    width: 20vw;
    height: 25vh;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campus-item h1 {
    color: white;
}

.campus-item:hover {
    scale: 1.1;
}

.diplome {
    width: 70%;
    border: 1px solid var(--main-blue);
    margin-top: 30%;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diplome *{
    text-align: center;
    text-transform: uppercase;
}

article {
    width: 100%;
    padding: 10px;
    border-top: 1px solid var(--main-blue);
}

.article-horizontal-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.article-horizontal-container a {
    width: 10%;
    margin: 10px;
    text-align: center;
    padding: 50px;
    border: 1px solid var(--main-blue);
    text-decoration: none;
    color: grey;
    transition: .5s;
}

.article-horizontal-container a:hover {
    filter: brightness(0.5);
}